@use '../../sass/Utils/library' as *;


header {
    padding: 45px 100px 0;
    @include bp (mobile){
        padding: 20px 20px 0;
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        &__logo{
            height: 68px;
            width: 211px;
            @include bp(mobile) {
                height: 46px;
                width: 145px;
            }
        }
        &__liste{
            display: flex;
            flex-direction: row; 
            justify-content: center;
            align-items: center;
            list-style-type: none;
            box-sizing: border-box;
            margin: 0;
            @include bp(mobile) {
                padding: 0;
            }
            
            &__li{
                list-style: none;
                box-sizing: content-box;
                flex: 50%;
                text-align: center;
                border-top: 2px solid transparent;
                display: flex;
                gap: 57px;
                text-decoration: none;
                @include bp(mobile) {
                    gap: 26px;
                }
            }
        }
        &__link{
            text-decoration: none;
            color: $color-font-primary;
            font-size: map-get($font-size, Subtitle );
            @include bp(mobile) {
                font-size: map-get($font-size, Medium );
            }
            @include bp(mobile) {
                font-size: map-get($font-size, Small );
            }
            &:hover{
                color: $color-font-primary;
                text-decoration: underline;
            }
            &.active {
                color: $color-font-primary;
                text-decoration: underline;
            };
        }
        &__linkActive {
            color: $color-font-primary;
            text-decoration: underline;
            font-size: map-get($font-size, Subtitle );
        }
        
    }
}


